<head>
{{ partial "meta.html" . }}
<title>
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ if eq $url "" }}
    {{ .Site.Title | markdownify }}
{{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Site.Title | markdownify  }} - {{ .Title | markdownify }} {{ end }}
{{ end }}
</title>
<link rel="canonical" href="{{ .Permalink }}">
{{ partial "head_includes.html" . }}
</head>
