<li class="post-item">
    <span class="meta">{{ .Date.Format .Site.Params.dateform }}</span>
    {{ if .Params.draft }}
    <a href="{{ .RelPermalink }}"><span>Draft::{{ .Title | markdownify }}</span></a>
    {{ else }}
    <a href="{{ .RelPermalink }}"><span>{{ .Title | markdownify }}</span></a>
    {{ end }}
</li>
