<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}

{{ if .Site.Params.twitter }}
    <meta property="twitter:site" content="@{{.Site.Params.twitter}}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title | markdownify }}" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title | markdownify }}" />
<meta property="twitter:title" content="{{ if .Title }}{{ .Title | markdownify }}{{ else }}{{ .Site.Title | markdownify }}{{ end }}">
{{ if .Site.Params.social_banner }}
    <meta property="og:image" content="{{ if .Params.meta_img }}{{ .Site.BaseURL }}{{ .Params.meta_img }}{{ else }}{{ .Site.BaseURL }}{{.Site.Params.social_banner}}{{ end }}">
    <meta property="twitter:card" content="{{ if .Site.Params.usesmallsummarycard }}summary{{ else }}summary_large_image{{ end }}">
    <meta property="twitter:image" content="{{ if .Params.meta_img }}{{ .Site.BaseURL }}{{ .Params.meta_img }}{{ else }}{{ .Site.BaseURL }}{{.Site.Params.social_banner}}{{ end }}">
{{ else }}
    <meta property="twitter:card" content="summary">
{{ end }}
<meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .IsPage }}{{ .Description }}{{ end }}">
<meta property="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .IsPage }}{{ .Description }}{{ end }}">
