{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
            <div class="posts">
                <div class="page-heading">{{ .Title }}</div>

                {{ range where .Data.Pages "Title" .Title }}
                <div class="markdown">
                  <p>{{ .Content }}</p>
                </div>
                {{ end }}

                {{ $sectionTitle := .Title }}
                <ul>
                    {{ range .Data.Pages.GroupByDate "Jan, 2006" "desc"}}
                      {{ if not (and (eq (len .Pages) 1) (eq (index .Pages 0).Title $sectionTitle)) }}
                        <li class="groupby">{{ .Key }}</li>
                        {{ range sort .Pages "Date" "desc" }}
                          {{ if (not (eq $sectionTitle .Title)) }}
			    {{if (not .Draft)}}
                              {{ partial "li.html" . }}
			    {{ end }}
                          {{ end }}
                        {{ end }}
                      {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
